@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --morado: #764fee;
    --fondo: #896ad4;

    /** Fonts **/
    --poppins: 'Poppins', sans-serif;

    --font-small: 0.877rem;
    --font-medium: 1rem;
    --font-big: 1.6rem;

    --icon: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--fondo);
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.39'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.container {
    width:98%;
    margin: 0 auto;
    max-width: 1400px;
}


/** Navegacion  **/
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 64px;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;

    font-family: var(--poppins);
    font-size: var(--font-medium);

    background: var(--morado);
    border-bottom: 1px white solid;

    overflow: hidden;
}

.header__nav .header__link {
    color: #fff;
}

.header__logo,
.header__logo .header__link,
.header__logo .header__img {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
}


.header__logo .header__title {
    font-size: var(--font-big);
    padding-left: 10px;
}

.header__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__item-mobile {
    display: none;
}

.header__item .header__link {
    display: block;
    margin: 0 10px;
    padding: 100% 4px;
    font-family: var(--font-small);
    font-weight: 500;
    text-decoration: none;
}

.header__link-gold {
    background-color: #f7ca18;
}

.header__item .header__link:hover {
    background-color: #442c77;
    opacity: .9;
}

.header__item .header__link-gold:hover {
    background-color: #f7ca18;
    opacity: .95;
}


/** Lower Third **/
.header__lowerThird {
    background-color: var(--morado);
    text-align: center;
    
    font-family:var(--poppins);
    font-size: var(--font-small);
    
    border-radius: 0 0 10px 10px;
    color: #fff;
    overflow: hidden;

    width: 100%;
    max-width: 1400px;

    margin-bottom: 60px;
}

.header__lowerThird .header__title {
    animation: move 8s linear infinite;
}


/** Encabezado **/

.header__banner {
    display: flex;
    width: 100%;
    height: 400px;

    margin-bottom: 80px;
    padding-bottom: 60px;
    
    align-items: end;    

    background: url(../recursos/estacion.jpg) center;
    border-radius: 10px;    
}

.header__banner .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 200px;


    font-family: var(--poppins);
    background-color:rgba(120, 37, 159, 0.35);
}

.header__banner .header__title {
    color: #fff;

    font-size: var(--font-big);
    font-weight: 700;
}

.header__banner .header__paragraph {
    color: #fff;
    width: 70%;

    text-align: center;
    font-size: var(--font-medium);
    font-weight: 300;
    letter-spacing: 1.2px;

    margin-bottom: 5px;
}

.header__banner .header__paragraph-gold {
    color: #f7ca18;
    font-size: 18px;
    font-weight: 500;
}

.cta-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;

    width: 120px;
    height: 40px;
    border-radius: 30px;

    color: #fff;
    background-color: #7289DA;
}

.cta-banner:hover {
    opacity: .9;
}

/** characteristics **/

.characteristics {
    text-align: center;
    justify-content: center;

    width: 50%;
    margin: 0 auto;
    padding: 5px 0;
    margin-bottom: 50px;
    border-radius: 30px;


    background-color: #442c77;
    color: #fff;

    font-family: var(--poppins);
    font-size: var(--font-big);
}

.section_characteristics {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--morado);
    
    margin-bottom: 80px;
    padding: 30px 0;
    border-radius: 10px;
}

.section__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--morado);
    width: 180px;
    height: 200px;

    border-radius: 30px;
    border: 3px solid #fff;

}

.section__card:hover {
    transform: scale(1.06);
}

.section__card .section__title {
    font-size: var(--font-big);
    padding-bottom: 5px;
    color: #fff;
}

.bx {
    color: #fff;
    font-size: var(--icon);
}


/** Section **/

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 100px;
    overflow: hidden;

    color: #fff;
    font-family: var(--poppins);

}


.section__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 60%;

    background-color: var(--morado);
    border-radius: 10px;
}

.section__left .section__img {
    width: 50%;
    margin-bottom: 20px;
}

.section__left .section__list {
    align-items: center;
    list-style: circle;
}




/** cards **/

.card__list {
    display: flex;
    justify-content: space-between;

    margin-bottom: 100px;
    padding: 20px 0;

    background-color: var(--morado);

    width: 100%;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: var(--morado);
    color: #fff;
    font-family: var(--poppins);
    text-align: center;
    margin: 0 30px;
    border-radius: 10px;
    border: 3px solid #fff;
}

.card__photo {
    padding: 10px;
    width:90%;
}

.card__img {
    width: 100%;
    border-radius: 10px;
}


/** footer **/

.footer {
    display: flex;
    justify-content: center;

    width: 100%;
    background-color: var(--morado);
    height: 40px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.footer .footer__title {
    font-size: var(--font-big);
    padding: 5px;
    color: #fff;
}





@media (min-width: 350px) {
    :root {

        /** font **/

        --font-small: 0.877rem;
        --font-medium: .866rem;
        --font-big: 1.3rem;

        --icon: 3rem;
    }

    /** Navegacion **/

    .header__logo .header__title {
        display: none;
    }

    .header__item {
        display: none;
    }

    .header__item-mobile {
        display: block;
        padding-right: 10px;
    }

    .header__item-mobile .bx {
        font-size: var(--icon);
    }

    .header__lowerThird .header__title {
        animation: move 6s linear infinite
    }

    /** Banner **/

    .header__banner {
        height: 350px;
        margin-bottom: 60px;
    }

    .header__banner .background {
        height: 250px;

    }

    .header__banner .header__title {
        width: 80%;
        text-align: center;
        margin-bottom: 5px;

    }

    /** Caracteristicas **/

    .section_characteristics {
        display: flex;
        flex-direction: column;
        
        margin: 0 auto;
        margin-bottom: 30px;
        width: 60%;
    }

    .section_characteristics .section__card {
        margin-bottom: 20px;
        
        width: 160px;
        height: 160px;
    }


    /** section **/

    .section {
        flex-direction: column;
    }

    .section__left {
        width: 100%;
        height: 300px;
        margin-bottom: 40px;
    }

    .section__right {
        display: flex;
        justify-content: center;
    }

    .card__list {
        display: none;
    }


}

@media (min-width: 435px) {
    .header__logo .header__title {
        display: block;
    }
}

@media (min-width: 680px) {
    .header__logo .header__title {
        display: block;
    }

    .header__item {
        display: block;
    }

    .header__nav .header__item-mobile {
        display: none;
    }
}

@media (min-width: 720px) {
    :root {
        --font-small: .877rem;
        --font-medium: 1rem;
        --font-big: 1.6rem;
    
        --icon: 4rem;
    }

    .section_characteristics {
        flex-direction: row;
        width: 95%;
    }

    .section__left {
        height: 400px;
    }
}

@media (min-width: 900px) {

    .header__banner {
        height: 500px;
    }

    .section {
        flex-direction: row;
    }

    .section__left {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .section__left {
        width: 60%;
    }
}


@media (min-width: 1400px) {
    :root {
        --font-small: .922rem;
        --font-medium: 1.4rem;
        --font-big: 2rem;
    
        --icon: 4rem;
    }

    .header__banner {
        height: 600px;
    }
}




/** Animations **/

@keyframes move {
    0% {
        transform: translate(-200vh);
    
    }

    100% {
        transform: translate(400px);
    }
}